<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html;charset=gb2312">
<link rel="stylesheet" href="/js/wcss.css" type="text/css">
<!--把下面代码加到<head>与</head>之间-->
<style type="text/css">
body,html{padding:0;margin:0;text-align:center;font:normal 14px 'arial';}
#mainNavBar{width:100%;background:#999;padding:10px 0; z-index:1005;}
#nav{width:760px;height:30px;margin:0 auto; z-index:1005}
#nav ul{padding:0;margin:0;}
#nav ul li{position:relative;float:left;width:60px;height:30px;line-height:30px;overflow:hidden;list-style-type:none;}
#nav ul li a{display:block;color:#fff;text-decoration:none;}
#nav ul li a{display:block;color:#fff;text-decoration:none;}
#subNav{position:absolute;width:150px;top:30px;left:0px;padding:5px;background:#666;color:#fff;text-align:left;z-index:1005;}
#subNav a{text-decoration:none;font-weight:normal;display:block;}
#subNav a:hover{color:#f00;background:#f00;}
</style>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script language="javascript" src="/js/rolemanager.js"></script>
<script language="javascript" src="/js/permanager.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('#confirm').attr('disabled','true');
});
$(function(){
	$('.close').click(function(){                 
		$('.all_over').css("display","none");
		$('.borders').css("display","none");
		$('.close').css("display","none");
		$('.addbook').css("display","none");
		$('.bookquery').css("display","none");
		$('.bookdelete').css("display","none");
		$('.bookmod').css("display","none");
		$('.role').css("display","none");

	});
	$('.close').mouseover(function(){			
		$('.marked').css("display","block");
	});
	$('.close').mouseout(function(){
		$('.marked').css("display","none");			
	});
	$('#addbook').click(function(){				
		$('.all_over').css("display","block");
		$('.borders').css("display","block");
		$('.close').css("display","block");
		$('.addbook').css("display","block");
		$('.titles').css("display","block");
		$("#ifr_addbook").show();
		$("#ifr_bookquery").hide();
		$("#ifr_bookdelete").hide();
		$("#ifr_bookmod").hide();
		$("#sp_addbook").show();
		$("#sp_bookquery").hide();
		$("#sp_bookmod").hide();
		$("#sp_bookdelete").hide();
		$('.passwd').css("display","none");
		$('.user').hide();
		$('.user').find('.close1').css('display','none');
		$('.role').css("display","none");
		
		
	});		
	$('#bookquery').click(function(){			
		$('.all_over').css("display","block");
		$('.borders').css("display","block");
		$('.close').css("display","block");
		$('.bookquery').css("display","block");
		$("#ifr_addbook").hide();
		$("#ifr_bookquery").show();
		$("#ifr_bookdelete").hide();
		$("#ifr_bookmod").hide();
		$("#sp_addbook").hide();
		$("#sp_bookquery").show();
		$("#sp_bookmod").hide();
		$("#sp_bookdelete").hide();
		$('.passwd').css("display","none");
		$('.user').hide();
		$('.user').find('.close1').css('display','none');
		$('.role').find('.close1').css('display','none');
		
		
		
	});		
	$('#bookmod').click(function(){				
		$('.all_over').css("display","block");
		$('.borders').css("display","block");
		$('.close').css("display","block");
		$('.bookmod').css("display","block");
		$("#ifr_addbook").hide();
		$("#ifr_bookquery").hide();
		$("#ifr_bookdelete").hide();
		$("#ifr_bookmod").show();
		$("#sp_addbook").hide();
		$("#sp_bookquery").hide();
		$("#sp_bookmod").show();
		$("#sp_bookdelete").hide();
		$('.passwd').css("display","none");
		$('.user').hide();
		$('.user').find('.close1').css('display','none');
		$('.role').find('.close1').css('display','none');
		
		
		
	});		
	$('#bookdelete').click(function(){		
		$('.all_over').css("display","block");
		$('.borders').css("display","block");
		$('.close').css("display","block");
		$('.bookdelete').css("display","block");
		$("#ifr_addbook").hide();
		$("#ifr_bookquery").hide();
		$("#ifr_bookdelete").show();
		$("#ifr_bookmod").hide();
		$("#sp_addbook").hide();
		$("#sp_bookquery").hide();
		$("#sp_bookmod").hide();
		$("#sp_bookdelete").show();
		$('.passwd').css("display","none");
		$('.user').hide();
		$('.user').find('.close1').css('display','none');
		$('.role').find('.close1').css('display','none');
		
		
	});		

	$('#modifypasswd').click(function(){			
		$('.all_over').css("display","block");
		$('.passwd').css("display","block");
		$('.close1').css("display","block");
		$('.borders').hide();
		$('.close').hide();
		$("#ifr_addbook").hide();
		$("#ifr_bookquery").hide();
		$("#ifr_bookdelete").show();
		$("#ifr_bookmod").hide();
		$("#sp_addbook").hide();
		$("#sp_bookquery").hide();
		$("#sp_bookmod").hide();
		$("#sp_bookdelete").show();
		$('.user').hide();
		$('.user').find('.close1').css('display','none');
		$('.role').find('.close1').css('display','none');
	});
	
	$("#confirm").click(function(){					
		var origpasswd=$("#origpasswd").val();
		var newpasswd=$("#newpasswd").val();
		var reptpass=$("#reptpass").val();
			
		if(newpasswd!=reptpass){
			alert("两次输入的新密码不匹配!");
			$("#reptpass").val('');
			$("#reptpass").focus();
		}else{
		$.ajax(
		{url:'/auths/',
		 type:'post',
		// dataType:'json',
		 data:{passwd:origpasswd,newpass:newpasswd},
		 async:true,
		 success:function(data){
			if(data=='0'){
				alert("密码错误!");
				$("#origpasswd").val('');
				$("#newpasswd").val('');
				$("#reptpass").val('');
				$("#origpasswd").focus();
			}else{
				alert("密码更新成功!");
			}
		 }
		});
		}
		
	});


	$("#confirm").mouseover(function(){                               
		$(this).css("color","blue");
	}).mouseout(function(){
		$(this).css("color","black");		
	});


	$("#cancle").click(function(){				
		$(".all_over").css("display","none")
		$('.passwd').css("display","none");
	});

	$("#cancle").mouseover(function(){			
		$(this).css("color","blue");
	}).mouseout(function(){
		$(this).css("color","black");	
	});

	
	$(".close1").click(function(){			
		$(".all_over").css("display","none");
		$('.passwd').css("display","none");
		$('#tooltip_user').css("display","none");
	});

	$(".close1").mouseover(function(e){			
		var tooltip_user="<div id='tooltip'><font size='3px' color='red'>关闭</font></div>";
		var x=10;
		var y=20;
		$("body").append(tooltip_user);
		$('#tooltip_user').css({"top":(e.pageY+y)+"px","left":(e.pageX+x)+"px"});
	}).mouseout(function(e){			
		tooltip_user=$("#tooltip");
		tooltip_user.remove();
	});

	
	$("#origpasswd").on('input',function(e){		
		var origpasswd=$('#origpasswd').val();
		var newpasswd=$('#newpasswd').val();
		var reptpass=$('#reptpass').val();
		
		if(origpasswd!='' && newpasswd!='' && reptpass!=''){
			$('#confirm').removeAttr('disabled');
		}else{
			$('#confirm').attr('disabled','true');
		}
		
	});

	
	$("#newpasswd").on('input',function(e){
		var origpasswd=$('#origpasswd').val();
		var newpasswd=$('#newpasswd').val();
		var reptpass=$('#reptpass').val();
		
		if(origpasswd!='' && newpasswd!='' && reptpass!=''){
			$('#confirm').removeAttr('disabled');
		}else{
			$('#confirm').attr('disabled','true');
		}
		
	});

	$("#reptpass").on('input',function(e){                    
		var origpasswd=$('#origpasswd').val();
		var newpasswd=$('#newpasswd').val();
		var reptpass=$('#reptpass').val();
		
		if(origpasswd!='' && newpasswd!='' && reptpass!=''){
			$('#confirm').removeAttr('disabled');
		}else{
			$('#confirm').attr('disabled','true');
		}


		
	});


	$("#usermanager").click(function(){
		$.ajax({url:'/accounts/profile/',
			type:'post',
			data:{page:1,rows:10},
			success:function(data){
				$('body').html(data);
				$('#all_over').show();
				$('.passwd').css("display","none");
				$('.close1').css("display","none");
				$('.borders').hide();
				$('.close').hide();
				$("#ifr_addbook").hide();
				$("#ifr_bookquery").hide();
				$("#ifr_bookdelete").hide();
				$("#ifr_bookmod").hide();
				$("#sp_addbook").hide();
				$("#sp_bookquery").hide();
				$("#sp_bookmod").hide();
				$("#sp_bookdelete").hide();
				$('.role').hide();
				$('.user').show();
				$('.user').find('.close1').css('display','block');
			}
		})


		
	});



	$("#manager").click(function(){
		var offx=$("#manager").offset().top;
		var offy=$("#manager").offset().left;
		alert("left: "+offx+"right: "+offy);
	});



	$("#search").click(function(){
		var name=$(".search input[id='searchtext']").val();
		var page=parseInt($(".bottom").find("#page").val());
		var rows=$("#limits option:selected").val();
		$.post("/accounts/profile/",
			{'name':name,'page':page,'rows':rows},
			function(data,status){
				$('body').empty();
				$('body').append(data);
				$('.all_over').css('display','block');
				$('.user').css('display','block');
				$('.user').find('.close1').css('display','block');
				$("#limits").val(rows);
				$(".search input[id='searchtext']").val(name);
			});
		
	});


	$("#searchtext").focus(function(){
		$(this).val('');
	});


	$("#userlist tr:not(:first)").each(function(){
		$(this).click(function(i){
			$(this).addClass("tablecolor");
			var index=$(this).index();
			$("#userlist tr:not(first)").each(function(i){
				if(i!=index){
					$(this).removeClass("tablecolor");
				}
			})
			
		});
		$(this).hover(function(){
			$(this).addClass("trcolor");
			var index=$(this).index();
			$("#userlist tr:not(first)").each(function(i){
				if(i!=index){
					$(this).removeClass("trcolor");
				}
			})
		});
		
		$(this).find("#edit").mouseover(function(e){
			$(this).css("width","12%");
			$(this).next().show();
		}).mouseout(function(){
			$(this).css("width","10%");
			$(this).next().hide();
		});

		$(this).find("#assign").mouseover(function(e){
			 $(this).css("width","12%");
                        $(this).next().show();
                }).mouseout(function(){
                        $(this).css("width","10%");
                        $(this).next().hide();
                });

		
		$(this).find("#assign").click(function(){
			var username=$(this).parent().parent().children("td:eq(0)").text();
			var tooltip="<div  class='little_over'></div><div id='assignrole' class='assignrole'><font size='5px;' color='blue;'>分配角色</font><hr/><strong><font size='3px;' color='black'>用户名称:"+username+"</font></strong></br></br></br></br>";
			$.ajax({url:'/grouplist/',
				type:'get',
				dataType:'json',
				success:function(data){
					$.each(data,function(index,item){
						var dataObj=eval("("+item+")");
						tooltip+=dataObj.name+"&nbsp;&nbsp;&nbsp;"+"<input type='checkbox' name='grouplist' value="+dataObj.id+">&nbsp;&nbsp;&nbsp;";
					});
					tooltip+="</br></br></br></br><input type='button' id='confirm' value='确定'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id='cancle' type='button' value='取消'></div>";
					$('body').append(tooltip);
				}
					
			})
					$('.little_over').show();
					$('.assignrole').show();
					$.ajax({url:'/usergroup/',
						type:'post',
						data:{username:username},
						dataType:'json',
						success:function(data){
							$.each(data,function(index,item){
								var dataObj=eval("("+item+")");
								$(".assignrole input:checkbox").each(function(){
									if($(this).val()==dataObj.id){
										$(this).attr("checked","true");
									}
								});
							})
						}
					})

					$("#assignrole").find("#confirm").click(function(){
						var addgroup='';
						var remove='';
						$("#assignrole input:checkbox").each(function(i){
							if($(this).is(':checked')){
								addgroup+=$(this).val()+"*";
							}else{
								remove+=$(this).val()+"*";
							};

								$.ajax({url:'/groupmod/',
									type:'post',
									data:{grouplist:addgroup,removelist:remove,username:username},
									success:function(data){
										if(data=='success'){
											var tooltip=$(".little_over");
											tooltip.remove();
											var tooltip=$(".assignrole");
											tooltip.remove();
										}
									}
								});

							
						});
					});
					$("#assignrole").find("#cancle").click(function(){
						var tooltip=$(".little_over");
						tooltip.remove();
						var tooltip=$("#assignrole");
						tooltip.remove();
					});

			
		});

		$(this).find("#delete").mouseover(function(){
			$(this).css("width","12%");
			$(this).next().show();})
			.mouseout(function(){
				$(this).css("width","10%");
				$(this).next().hide();
			});
		var user=this;
		$(this).find("#delete").click(function(e){
			$('.little_over').css("display","block");
			var name=$(user).find("#username").html();
			if(name!="admin"){
			var tooltip_user="<div class='little_over'></div><div id='tooldelete' style='position:absolute;top:20%;left:50%;width:600px;height:100px;background:gray;border:1px solid lightblue;z-index:1007;'>用户删除<hr/><font color='blue' size='5px'>您是否要删除用户"+name+"?</font><div id='confirm' style='position:absolute;top:80px;left:25%;background:lightblue;height:20px;width:55px;'><span style='cursor:pointer;'>确定</span></div><div id='cancle' style='position:absolute;top:80px;left:55%;background:lightblue;height:20px;width:55px;'><span  style='cursor:pointer;'>取消</span></div></div>";
			$('body').append(tooltip_user);
			$('.little_over').css("display","block");
			$("#tooldelete").css("display","block");
			$("#tooldelete").find("#confirm").mouseover(function(){
				$(this).addClass("addborder");
			}).mouseout(function(){
				$(this).removeClass("addborder");
			});
			$("#tooldelete").find("#cancle").mouseover(function(){
				$(this).addClass("addborder");
			}).mouseout(function(){
				$(this).removeClass("addborder");
			});
			$("#tooldelete").find("#cancle").click(function(){
				$("#tooldelete").remove();
				$(".little_over").remove();
			});

			var _move=false;
			$("#tooldelete").mousedown(function(e){
				_move=true;
				_x=e.pageX-parseInt($("#tooldelete").css("left"));
				_y=e.pageY-parseInt($("#tooldelete").css("top"));
				$("#tooldelete").fadeTo(20,0.5);
			}).mousemove(function(e){
				if(_move){
					x=e.pageX-_x;
					y=e.pageY-_y;
					$("#tooldelete").css({left:x,top:y});
				}
			}).mouseup(function(e){
				_move=false;
				$("tooldelete").fadeTo(1);
			});

			
			$("#tooldelete").find("#confirm").click(function(){
				var name=$(user).find("#username").html();
				$.ajax({url:'/dropuser/',
					type:'post',
					data:{user:name},
					success:function(data){
						if(data=="success"){
						$("#tooldelete").remove();
						$(".little_over").remove();
						tooltip_user="<div id='message' style='top:1px;left:100%;background:yellow;opacity;width:100px;heght:100px;z-index:1006;'>删除成功!</div>";
						$('body').append(tooltip_user);
						$("#message").fadeTo("slow",0.5);
						$.post("/accounts/profile/",{page:1,rows:10},function(data){
                                                        $('body').html(data);
                                                        $('.all_over').css("display","block");
                                                        $('.user').css('display','block');
                                                })
						}

					}
					
				})
			});
			}else{
				alert("管理员不能删除");
			};
			

		});
		


		var that=this;
		$(this).find("#edit").click(function(i){
			var name=$(that).find("#username").html();
			var tooltip_user="<div class='little_over'></div><div class='edit_window'><span align='left'><font align='left;' size='5px;' color='black'>编辑用户</font></span><hr/><div style='font-align:left;overflow:yes;'>用户名称:"+name+"<hr/>禁用/启用:<input type='checkbox' id='stats'/><div style='position:absolute;top:275px;left:25%;background:lightblue;height:20px;width:55px;'><span id='confirm' style='cursor:pointer;'>确定</span></div><div style='position:absolute;top:275px;left:55%;background:lightblue;height:20px;width:55px;'><span id='cancle' style='cursor:pointer;'>取消</span></div></div>";
			$('body').append(tooltip_user);
			$('.little_over').css('display','block');
			$('.edit_window').css('display','block');
			var status=$(that).find("#status").html();
			if(name=="admin"){
				$(".edit_window input[type='checkbox']").attr("disabled","true");
			}
			if(status=="启用"){
				$(".edit_window input[type='checkbox']").attr("checked","true");
			}else{
				$(".edit_window input[type='checkbox']").removeAttr("checked");
			};


			$(".edit_window").find("#confirm").click(function(){
				var checked=$(".edit_window input[type='checkbox']").is(':checked');
				if(checked){
					var result=1;
				}else{
					var result=0;
				};
				$.ajax({url:'/accounts/profile/',
					type:'post',
					data:{active:result,username:name},
					success:function(data){
						if(data=="success"){
							$(".edit_window").remove();
							$(".little_over").remove();
							tooltip_user="<div id='message' style='top:1px;left:100%;background:yellow;opacity;width:100px;heght:100px;z-index:1006;'>保存成功!</div>";
							$('body').append(tooltip_user);
							$("#message").fadeTo("slow",0.5);
							window.parent.location.reload();
						}
					}
				});
			});
			$(".edit_window").find("#cancle").click(function(){
				$(".edit_window").remove();
				$(".little_over").remove();
			});
			
		});
	});



	$(".button_adduser").click(function(){
		var tooltip_user="<div class='little_over'></div><div class='adduser'><font size='5px;' color='blue;'><span>新增用户</span></font><hr/><table><tr><td><label for='username'>用户名</lable></td><td><input type='text' placeholder='用户名' id='username' required></td></tr><tr><td><label for='email'>邮箱:</lable></td><td><input type='text' id='email' placeholder='用户邮箱,例如test@haha.com' required></td></tr><tr><td><label for='password'>密码:</lable></td><td><input type='password' id='password' placeholder='用户密码' required></td></tr><tr><td><label for='rept'>再输入密码:</lable></td><td><input type='password' id='reptpass' placeholder='再次输入用户密码' required></td></tr><tr><td><input type='button' id='confirm' value='确定'></td><td><input id='cancle' type='button' value='取消'></td></tr></table><div class='close1'><span style='font-size:16px;cursor:default;font-weight:bold'><img src='/js/timg.jpg/' alt='关闭' height='20px'></span></div></div>";
		$('body').append(tooltip_user);
		$(".little_over").css("display","block");
		$(".adduser").css("display","block");
		$(".close1").css("display","block");
		
		$(document).ready(function(){
			$('.adduser').find("#confirm").attr('disabled','true');
		});
	
		var username=$(".adduser").find("#username");
		var email=$(".adduser").find("#email");
		var password=$(".adduser").find("#password");
		var reptpass=$(".adduser").find("#reptpass");
		
		username.on("input",function(e){
			if(username.val()!=='' && email.val()!='' && password.val()!='' && reptpass.val()!=''){
				$('.adduser').find("#confirm").removeAttr("disabled");
			}else{
				
				$('.adduser').find("#confirm").attr("disabled","true");
			}
		});
		email.on("input",function(e){
			if(username.val()!=='' && email.val()!='' && password.val()!='' && reptpass.val()!=''){
				$('.adduser').find("#confirm").removeAttr("disabled");
			}else{
				
				$('.adduser').find("#confirm").attr("disabled","true");
			}
		});
		password.on("input",function(e){
			if(username.val()!=='' && email.val()!='' && password.val()!='' && reptpass.val()!=''){
				$('.adduser').find("#confirm").removeAttr("disabled");
			}else{
				
				$('.adduser').find("#confirm").attr("disabled","true");
			}
		});
		reptpass.on("input",function(e){
			if(username.val()!=='' && email.val()!='' && password.val()!='' && reptpass.val()!=''){
				$('.adduser').find("#confirm").removeAttr("disabled");
			}else{
				
				$('.adduser').find("#confirm").attr("disabled","true");
			}
		});


		email.blur(function(){
			var reg = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/;
			if(!reg.test(email.val())){
				alert("邮箱格式不正确");
				$('.adduser').find("#confirm").attr("disabled","true");
				$(this).val('');
				email.focus();
			}
		});

		
		reptpass.blur(function(){
			if(password.val()!=reptpass.val()){
				alert("两次输入的密码不一致")
				$('.adduser').find("#confirm").attr("disabled","true");
				$(this).val('');
				$(this).focus();
			}
		});



		$(".adduser").find("#confirm").click(function(){
			$.ajax({url:'/adduser/',
				type:'post',
				dataType:'json',
				async:'true',
				data:{username:username.val(),email:email.val(),password:password.val()},
				success:function(data){
					if(data==1){
						alert("该用户已经注册!");
						username.val('');
						email.val('');
						password.val('');
						reptpass.val('');
						username.focus();
					};
					if(data==2){
						alert("该邮箱已经注册!");
						username.val('');
						email.val('');
						password.val('');
						reptpass.val('');
						username.focus();
					};
					if(data==4){
						alert("添加用户成功!");
						var tooltip_user=$('.little_over');
						tooltip_user.remove();
						var tooltip_user=$('.adduser');
						tooltip_user.remove();
						$.post("/accounts/profile/",{page:1,rows:10},function(data){
							$('body').html(data);
							$('.all_over').css("display","block");
							$('.user').css('display','block');
						})
					}
				}
				
			})
		});

		
		$(".adduser").find("#cancle").click(function(){
			var tooltip_user=$('.little_over');
			tooltip_user.remove();
			var tooltip_user=$('.adduser');
			tooltip_user.remove();
		});
		$(".adduser").find(".close1").click(function(){
			var tooltip_user=$('.little_over');
			tooltip_user.remove();
			var tooltip_user=$('.adduser');
			tooltip_user.remove();
		});

		$(".adduser").find(".close1").mouseover(function(){
			$(this).css("border","1");
		}).mouseout(function(){
			$(this).removeAttr("border");
		});
	});


	$(".button_adduser").mouseover(function(){
		$(this).css("border","1px solid lightblue");
	}).mouseout(function(){
		$(this).css("border","1px solid black");
	});



	$(".button_edituser").click(function(){
		var username=$("#userlist").find(".tablecolor").children("td:eq(0)");
		var email=$("#userlist").find(".tablecolor").children("td:eq(1)");
		if(username.length>0){
			var tooltip_user="<div class='little_over'></div><div class='edituser'><font size='5px;' color='lightblue;'>用户编辑</font><hr/><font size='5px;'>用户名:&nbsp;&nbsp;"+username.text()+"</font></br>邮箱地址:<input type='text' id='email' value="+email.text()+"></br></br></br></br></br><input type='button' value='确定' id='confirm'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type='button' value='取消' id='cancle'><div class='close1'><span style='font-size:16px;cursor:default;font-weight:bold'><img src='/js/timg.jpg/' alt='关闭' height='20px'></span></div></div>";
			$('body').append(tooltip_user);
			$(".little_over").css("display","block");
			$(".edituser").css("display","block");
			$(".edituser .close1").css("display","block");


			$(".edituser").find("#confirm").click(function(){
			      var newemail=$(".edituser").find("#email")
			      if(email.val()!=newemail.val() && newemail.val()!=''){
					$.ajax({url:'/edituser/',
						type:'post',
						data:{username:username.text(),email:newemail.val()},
						success:function(data){
							if(data=='1'){
								alert("更新地址成功")
								var tooltip_user=$(".little_over");
								tooltip_user.remove();
								var tooltip_user=$(".edituser");
								tooltip_user.remove();
							}
							if(data=='2'){
								alert("该邮箱已被其他用户使用")
							}
						}
					})
			      }
			});



			$(".edituser").find("#cancle").click(function(){
				var tooltip_user=$(".little_over");
				tooltip_user.remove();
				var tooltip_user=$(".edituser");
				tooltip_user.remove();
			})


			$(".edituser .close1").click(function(){
				var tooltip_user=$(".little_over");
				tooltip_user.remove();
				var tooltip_user=$(".edituser");
				tooltip_user.remove();
			})
		}else{
			alert("您必须选择一条数据!")
		}
	});

	
	$(".button_edituser").mouseover(function(){
		$(this).css("border","1px solid lightblue");
	}).mouseout(function(){
		$(this).css("border","1px solid black");
	});

	$('.resetpasswd').mouseover(function(){
		 $(this).css("border","1px solid lightblue");
	}).mouseout(function(){
		 $(this).css("border","1px solid black");
	})

	
	$(".resetpasswd").click(function(){
		var username=$("#userlist").find(".tablecolor").children("td:eq(0)");
		if(username.length>0){
		var tooltip_user="<div class='little_over'></div><div class='editpasswd'><font size='5px;' color='lightblue;'>重置密码</font><hr/><font size='5px;'>用户名:&nbsp;&nbsp;"+username.text()+"</font></br>重置密码:<input type='password' placeholder='新密码' id='password' required></br>密码确认:<input type='password' placeholder='再输入一次新密码' id='reptpasswd' required></br></br></br></br><input type='button' value='确定' id='confirm'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type='button' value='取消' id='cancle'><div class='close1'><span style='font-size:16px;cursor:default;font-weight:bold'><img src='/js/timg.jpg/' alt='关闭' height='20px'></span></div></div>";
		$('body').append(tooltip_user);
		$(".little_over").css("display","block");
		$(".editpasswd").css("display","block");
		$(".editpasswd .close1").css("display","block");
	
		$(document).ready(function(){
			$(".editpasswd").find("#confirm").attr("disabled","true");
		});


		$(".editpasswd").find("#password").on('input',function(){
			var password=$(".editpasswd").find("#password").val();
			var reptpasswd=$(".editpasswd").find("#reptpasswd").val();
			if(password!='' && reptpasswd!=''){
				$(".editpasswd").find("#confirm").removeAttr("disabled");
			}else{
				$(".editpasswd").find("#confirm").attr("disabled","true");
			}
		});
		$(".editpasswd").find("#reptpasswd").on('input',function(){
			var password=$(".editpasswd").find("#password").val();
			var reptpasswd=$(".editpasswd").find("#reptpasswd").val();
			if(password!='' && reptpasswd!=''){
				$(".editpasswd").find("#confirm").removeAttr("disabled");
			}else{
				$(".editpasswd").find("#confirm").attr("disabled","true");
			}
		});


		$(".editpasswd").find("#reptpasswd").blur(function(){
			var password=$(".editpasswd").find("#password");
			var reptpasswd=$(".editpasswd").find("#reptpasswd");
			if(password.val()!=reptpasswd.val()){
				alert("两次输入的密码不一致！");
				reptpasswd.val('');
				reptpasswd.focus();	
				$(".editpasswd").find("#confirm").attr("disabled","true");
				
			}
		});


		$(".editpasswd").find("#confirm").click(function(){
			password=$(".editpasswd").find("#password");
			$.ajax({url:'/edituser/',
				type:'post',
				data:{username:username.text(),password:password.val()},
				success:function(data){
					if(data==3){
						alert("密码更新成功!");
						var tooltip_user=$(".little_over");
						tooltip_user.remove();
						var tooltip_user=$(".editpasswd");
						tooltip_user.remove();
					}
				}
				})
		});


		$(".editpasswd").find("#cancle").click(function(){
			var tooltip_user=$(".little_over");
			tooltip_user.remove();
			var tooltip_user=$(".editpasswd");
			tooltip_user.remove();
		})


		$(".editpasswd .close1").click(function(){
			var tooltip_user=$(".little_over");
			tooltip_user.remove();
			var tooltip_user=$(".editpasswd");
			tooltip_user.remove();
		})

		}else{
			alert("您必须选择一条记录");
		}
		
		
	});

	$('.deleteuser').mouseover(function(){
		 $(this).css("border","1px solid lightblue");
	}).mouseout(function(){
		 $(this).css("border","1px solid black");
	})

	$('.deleteuser').click(function(){
		var username=$("#userlist").find(".tablecolor").children("td:eq(0)");
		if (username.length>0 && username.text()!='admin'){
		var tooltip_user="<div class='little_over'></div><div id='deleteuser' style='position:absolute;top:20%;left:50%;width:600px;height:100px;background:gray;border:1px solid lightblue;z-index:1007;'>用户删除<hr/><font color='blue' size='5px'>您是否要删除用户"+username.text()+"?</font><div id='confirm' style='position:absolute;top:80px;left:25%;background:lightblue;height:20px;width:55px;'><span style='cursor:pointer;'>确定</span></div><div id='cancle' style='position:absolute;top:80px;left:55%;background:lightblue;height:20px;width:55px;'><span  style='cursor:pointer;'>取消</span></div></div>";
		$('body').append(tooltip_user);
		$(".little_over").css('display','block');

		var _move=false;
		$("#deleteuser").mousedown(function(e){
			_move=true;
			_x=e.pageX-parseInt($("#deleteuser").css("left"));
			_y=e.pageY-parseInt($("#deleteuser").css("top"));
			$("#deleteuser").fadeTo(20,0.5);
		}).mousemove(function(e){
			if(_move){
				var x=e.pageX-_x;
				var y=e.pageY-_y;
				$("#deleteuser").css({top:y,left:x});
			}
		}).mouseup(function(e){
			_move=false;
			$("#deleteuser").fadeTo(1);
		})



		$("#deleteuser").find("#confirm").click(function(){
			$.ajax({url:"/dropuser/",
				type:'post',
				data:{username:username.text()},
				success:function(data){
					if(data=="success"){
						alert("删除角色!");
						var tooltip_user=$(".little_over");
						tooltip_user.remove();
						var tooltip_user=$("#deleteuser");
						tooltip_user.remove();
						$.ajax({url:'/addrole/',
							type:'get',
							dataType:'json',
							success:function(data){
							}
						})
					}
					if(data=="failed"){
						alert("删除用户失败!");
					}
				
				}
			})
		});


		$("#deleteuser").find("#cancle").click(function(){
			var tooltip_user=$(".little_over");
			tooltip_user.remove();
			var tooltip_user=$("#deleteuser");
			tooltip_user.remove();
		});
		}else{
			if(username.text()=='admin'){
				alert("管理用户不能删除");
			}else{
				alert("必须选择一条一路");
			}
		}
		
		
	});




	$(".bottom").find("#startpage").click(function(){
		$(".bottom").find("#page").val(1);
		var page=parseInt($(".bottom").find("#page").val());
		var rows=$("#limits option:selected").val();
		var name=$(".search input[id='searchtext']").val();
		if(name.length>0){
		$.ajax({url:'/accounts/profile/',
			type:'post',
			data:{page:1,rows:rows,name:name},
			success:function(data){
				$('body').html(data);
				$('#all_over').show();
				$('.user').show();
				$('.user').find('.close1').css('display','block');
				$(".bottom").find("#page").val(1);
				$("#limits").val(rows);
				$(".search input[id='searchtext']").val(name);


			}
				
		})
		}else{
		$.ajax({url:'/accounts/profile/',
			type:'post',
			data:{page:1,rows:rows},
			success:function(data){
				$('body').html(data);
				$('#all_over').show();
				$('.user').show();
				$('.user').find('.close1').css('display','block');
				$(".bottom").find("#page").val(1);
				$("#limits").val(rows);
			}
				
		})
			
		}

		
	});

	$(".bottom").find("#privpage").click(function(){
		var page=$(".bottom").find("#page").val();
		if (page>1){
			$(".bottom").find("#page").val(page-1);
		}
		var page=$(".bottom").find("#page").val();
		var rows=$("#limits option:selected").val();
		var name=$(".search input[id='searchtext']").val();
		if(name.length>0){
		$.ajax({url:'/accounts/profile/',
			type:'post',
			data:{page:page,rows:rows,name:name},
			success:function(data){
				$('body').html(data);
				$('#all_over').show();
				$('.user').show();
				$('.user').find('.close1').css('display','block');
				$(".bottom").find("#page").val(page);
				$("#limits").val(rows);
				$(".search input[id='searchtext']").val(name);



				
			}
				
		})
		}else{
		$.ajax({url:'/accounts/profile/',
			type:'post',
			data:{page:page,rows:rows},
			success:function(data){
				$('body').html(data);
				$('#all_over').show();
				$('.user').show();
				$('.user').find('.close1').css('display','block');
				$(".bottom").find("#page").val(page);
				$("#limits").val(rows);


				
			}
				
		})
		}
	});

	$(".bottom").find("#nextpage").click(function(){
		var page=parseInt($(".bottom").find("#page").val());
		var pages=parseInt($("#hidden").val());
		if (page<pages){
			$(".bottom").find("#page").val(page+1);
		}
		var page=$(".bottom").find("#page").val();
		var rows=$("#limits option:selected").val();
		var name=$(".search input[id='searchtext']").val();
		if(name.length>0){
		$.ajax({url:'/accounts/profile/',
			type:'post',
			data:{page:page,rows:rows,name:name},
			success:function(data){
				$('body').html(data);
				$('#all_over').show();
				$('.user').show();
				$('.user').find('.close1').css('display','block');
				$(".bottom").find("#page").val(page);
				$(".search input[id='searchtext']").val(name);
				$("#limits").val(rows);
			}
				
		})
		}else{
		$.ajax({url:'/accounts/profile/',
			type:'post',
			data:{page:page,rows:rows},
			success:function(data){
				$('body').html(data);
				$('#all_over').show();
				$('.user').show();
				$('.user').find('.close1').css('display','block');
				$(".bottom").find("#page").val(page);
				$(".search input[id='searchtext']").val(name);
				$("#limits").val(rows);
			}
				
		})
		}
	});

	$(".bottom").find("#endpage").click(function(){
		var pages=parseInt($("#hidden").val());
		$(".bottom").find("#page").val(pages);
		var rows=$("#limits option:selected").val();
		var name=$(".search input[id='searchtext']").val();
		if(name.length>0){
		$.ajax({url:'/accounts/profile/',
			type:'post',
			data:{page:pages,rows:rows,name:name},
			success:function(data){
				$('body').html(data);
				$('#all_over').show();
				$('.user').show();
				$('.user').find('.close1').css('display','block');
				$(".bottom").find("#page").val(pages);
				$(".search input[id='searchtext']").val(name);
				$("#limits").val(rows);
			}
				
		})}else{
		$.ajax({url:'/accounts/profile/',
			type:'post',
			data:{page:pages,rows:rows},
			success:function(data){
				$('body').html(data);
				$('#all_over').show();
				$('.user').show();
				$('.user').find('.close1').css('display','block');
				$(".bottom").find("#page").val(pages);
				$("#limits").val(rows);
			}
				

		})
		}
	});


	$(".bottom").find("#page").bind('keypress',function(event){
		var pages=parseInt($("#hidden").val());
		if(event.keyCode=="13"){
			if($(this).val()<1){
				$(this).val(1);
			}
			if($(this).val()>pages){
				$(this).val(pages);
			}
			var page=parseInt($(".bottom").find("#page").val());
			var rows=$("#limits option:selected").val();
			var name=$(".search input[id='searchtext']").val();
			if(name.length>0){
			$.ajax({url:'/accounts/profile/',
				type:'post',
				data:{page:page,rows:rows,name:name},
				success:function(data){
					$('body').html(data);
					$('#all_over').show();
					$('.user').show();
					$('.user').find('.close1').css('display','block');
					$(".bottom").find("#page").val(page);
					$(".search input[id='searchtext']").val(name);
					$("#limits").val(rows);
				}
				
			})
			}else{
			$.ajax({url:'/accounts/profile/',
				type:'post',
				data:{page:page,rows:rows},
				success:function(data){
					$('body').html(data);
					$('#all_over').show();
					$('.user').show();
					$('.user').find('.close1').css('display','block');
					$(".bottom").find("#page").val(page);
					$("#limits").val(rows);
				}
				
			})
				
			}
		}
	});
	
	$("#limits").change(function(){
			var rows=$("#limits option:selected").val();
			var name=$(".search input[id='searchtext']").val();
			if(name.length>0){
			$.ajax({url:'/accounts/profile/',
				type:'post',
				data:{page:1,rows:rows,name:name},
				success:function(data){
					$('body').html(data);
					$('#all_over').show();
					$('.user').show();
					$('.user').find('.close1').css('display','block');
					$(".bottom").find("#page").val(1);
					$(".search input[id='searchtext']").val(name);
					$("#limits").val(rows);
				}
				
			})
			}else{
			$.ajax({url:'/accounts/profile/',
				type:'post',
				data:{page:1,rows:rows,name:name},
				success:function(data){
					$('body').html(data);
					$('#all_over').show();
					$('.user').show();
					$('.user').find('.close1').css('display','block');
					$(".bottom").find("#page").val(1);
					$("#limits").val(rows);
				}
				
			})
			}
		
	});


			
	

	

});

</script>
</head>
<body>
<div id="mainNavBar">
<div class="title">欢迎用户 <font color="red">{{user.username}}</font> 登录 ！</div>
<div id="nav">
<ul>
<li>
<a href="#">添加</a>
<div id="subNav">
{% if perms.books.add_book%}
<a id="addbook"  href="#">添加图书</a>
{%endif%}
{% if perms.books.query_book %}
<a id="bookquery" href="#">查询图书</a>
{%endif%}
</div>
</li>
<li>
<a href="#">编辑</a>
<div id="subNav">
{%if perms.books.change_book%}
<a id="bookmod" href="#">编辑图书</a>
{%endif%}
{%if perms.books.delete_book%}
<a id="bookdelete" href="#">删除图书</a>
{%endif%}
</div>
</li>
<li>
<a href="#">管理</a>
<div id="subNav">
{% if user.is_superuser%}
<a href="#" id="rolemanager">角色管理</a>
<a href="#" id="permanager">权限管理</a>
<a href="#" id="usermanager">用户管理</a>
{%endif%}
<a id="modifypasswd" href="#">修改密码</a>
<a href="/accounts/logout">退出</a>
</div>
</li>
</ul>
</div>
</div>
<div class="all_over" id="all_over">
	<div class="borders">
		<div class="addbook">
				<span id="sp_addbook" style="font-size:16px;cursor:default;font-weight:bold;display:none;">添加图书</span>
			</br>
			<hr/>
			<iframe id="ifr_addbook" align="center" src="/addbook/"  width="100%" height="100%" scrolling="no" style="border:none; display:none;"></iframe>
		</div>
		<div class="bookquery">
				<span id="sp_bookquery" style="font-size:16px;cursor:default;font-weight:bold;display:none">查询图书</span>
			</br>
			<hr/>
			<iframe id="ifr_bookquery" align="center" src="/booklist/?page=0"  width="100%" height="100%" scrolling="no" style="border:none; display:none"></iframe>
		</div>
		<div class="bookdelete">
				<span id="sp_bookdelete" style="font-size:16px;cursor:default;font-weight:bold;display:none">删除图书</span>
			</br>
			<hr/>
			<iframe id="ifr_bookdelete" align="center" src="/deletebook/"  width="100%" height="100%" scrolling="no" style="border:none; display:none"></iframe>
		</div>
		<div class="bookmod">
				<span id="sp_bookmod" style="font-size:16px;cursor:default;font-weight:bold;display:none">修改图书</span>
			</br>
			</hr>
			<iframe id="ifr_bookmod" align="center" src="/bookmod/"  width="100%" height="100%" scrolling="no" style="border:none; display:none"></iframe>
		</div>
	</div>
	<div class="passwd">
		<table align="center">
		<font size="6px" color="blue">更&nbsp;改&nbsp;密&nbsp;码</font>
		<hr/>
		<tr>
		<td><font size="4px">原始密码:</font></td><td><input  type="password" name="origpasswd" id="origpasswd" placeholder="请输入原始密码" required></td>
		</tr>
		<tr>
		<td><font size="4px">新密码:</font></td><td><input type="password"  id="newpasswd" placeholder="新密码" required></td>
		</tr>
		<tr>
		<td><font size="4px">确认新密码:</font></td><td><input type="password"  id="reptpass" placeholder="再输入新密码" required></td>
		</tr>
		<tr><td></br></td></tr>
		<tr><td><input type="button"  id="confirm" value="确认"></td><td><input type="button" id="cancle" value="取消"></td></tr>
		</table>
		<div class="close1">
			<span style="font-size:16px;cursor:default;font-weight:bold"><img src="/js/timg.jpg"/ alt="关闭" height="20px"></span>
		</div>
	</div>
	<div class="user">
		<font style="font-weight:bold;font-size:18px;color:blue;" align="right">用户管理</font>
		<hr/>
		<div class="button_adduser">添加管理者</div>
		<div class="button_edituser">编辑</div>
		<div class="resetpasswd">重置密码</div>
		<div class="deleteuser">删除用户</div>
		<div class="search"><input type="text" id="searchtext" placeholder="搜索"/><input id="search" type="button" value="搜索"/></div>
		<div class="users">
			<div class="userlist">
				<font style="font-size:13px;font-weight:bold;">用户列表</font>
			</div>
			</br>
			<table id="userlist" border="1" cellpadding="0" cellspacing="0">
			<tr style="background-color:gray;"><td width="200px;" align="center">用户名称</td><td width="200px" align="center">注册邮箱</td><td width="200px;" align="center">状态</td><td width="200px;">最后一次登录时间</td><td width="200px;">操作</td></tr>
			{% if results %}
				{%for res in results%}
			<tr><td width="200px;" id="username" align="center">{{res.name}}</td><td width="200px" align="center">{{res.email}}</td><td width="200px;" align="center" id="status">{{res.status}}</td><td width="200px;">{{res.last_login}}</td><td width="200px;"><img id="edit" width="10%" src="/js/edit.jpg"><span id="editbutton" style="display:none;cursor:pointer;">禁用/启用</span>&nbsp;<img id="assign" width="11%" src="/js/add.jpg"><span id="deletebutton" style="display:none;cursor:pointer;">分配角色</span><img id="delete" width="11%" src="/js/delete.png"><span id="deletebutton" style="display:none;cursor:pointer;">删除用户</span></td></tr>
				{%endfor%}
			{%endif%}
			
			</table>
		</div>
		<div class="bottom">
                        <select style="width:50px;height:29px;" name="select" id="limits">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                        </select>
                        <input type="button" id="startpage" value="首页">
                        <input type="button" id="privpage" value="前一页">
                        第<input type="text" id="page" value="1" placeholder="1" size="1px;">页 共 {{ pages }} 页
			<input type="hidden" id="hidden" value={{pages}}>
                        <input type="button" id="nextpage" value="下一页">
                        <input type="button" id="endpage" value="尾页">

                </div>
		<div class='close1'><span style='font-size:16px;cursor:default;font-weight:bold'><img src='/js/timg.jpg/' alt='关闭' height='20px'></span></div>
	</div>
	<div class="close" id="close">
		<span style="font-size:16px;cursor:default;font-weight:bold"><img src="/js/timg.jpg"/ alt="关闭" height="20px"></span>
	</div>
	<div class="marked" id="marked">
		<span style="font-size:16px;cursor:default;font-weight:bold">关闭</span>
	</div>

	<div class="role" id="role"> <font style="font-weight:bold;font-size:18px;color:blue;" align="right">角色管理</font><hr/>
		<div class="button_addrole">添加角色</div>
		<div class="button_editrole">角色编辑</div>
		<div class="Assign">分配权限</div>
		<div class="deleterole">删除</div>
		<div class="roles">
			<div class="rolelist">
				<font style="font-size:13px;font-weight:bold;">角色列表</font>
			</div>
			</br>
			<table id="rolelist" border="1" cellpadding="0" cellspacing="0">
			<tr style="background-color:gray;"><td width="200px;" align="center">角色名称</td><td width="200px" align="center">角色描述</td><td width="200px;" align="center">所属用户</td><td width="200px;">创建时间</td><td width="200px;">操作</td></tr>
			</table>
		</div>
		<div class="bottom_role">
                        <select style="width:50px;height:29px;" name="select" id="limits">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                        </select>
                        <input type="button" id="startpage" value="首页">
                        <input type="button" id="privpage" value="前一页">
                        第<input type="text" id="page" value="1" placeholder="1" size="1px;">页 共 {{ pages }} 页
			<input type="hidden" id="hidden" value={{pages}}>
                        <input type="button" id="nextpage" value="下一页">
                        <input type="button" id="endpage" value="尾页">
		</div>
		<div class='close1'><span style='font-size:16px;cursor:default;font-weight:bold'><img src='/js/timg.jpg/' alt='关闭' height='20px'></span></div>
	</div>
	<div class="perm" id="perm"> <font style="font-weight:bold;font-size:18px;color:blue;" align="right">权限管理</font><hr/>
		<div class="button_addperm">添加权限</div>
		<div class="perms">
			<div class="permlist">
				<font style="font-size:13px;font-weight:bold;">权限列表</font>
			</div>
			</br>
			<table id="permlist" border="1" cellpadding="0" cellspacing="0">
			<tr style="background-color:gray;"><td width="200px;" align="center">权限名称</td><td width="200px" align="center">权限描述</td><td width="200px" align="center">应用目标</td><td width="200px;">操作</td></tr>
			</table>
		</div>
		<div class="bottom_role">
                        <select style="width:50px;height:29px;" name="select" id="limits">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                        </select>
                        <input type="button" id="startpage" value="首页">
                        <input type="button" id="privpage" value="前一页">
                        第<input type="text" id="page" value="1" placeholder="1" size="1px;">页 共 {{ pages }} 页
			<input type="hidden" id="hidden" value={{pages}}>
                        <input type="button" id="nextpage" value="下一页">
                        <input type="button" id="endpage" value="尾页">
		</div>
		<div class='close1'><span style='font-size:16px;cursor:default;font-weight:bold'><img src='/js/timg.jpg/' alt='关闭' height='20px'></span></div>
	</div>
</div>
<script language="javascript">
var nav=document.getElementById("nav").getElementsByTagName("li");
for(i=0;i<nav.length;i++){
nav[i].onmouseover=function(){
this.style.fontWeight="bold";
this.style.overflow="visible";
this.style.background="#666666";
}
nav[i].onmouseout=function(){
this.style.fontWeight="normal";
this.style.background="#999999"
this.style.overflow="hidden";
}
}
var nav2=document.getElementById("subNav").getElementsByTagName("li");
for(i=0;i<nav2.length;i++){
nav2[i].onmouseover=function(){
this.style.fontWeight="bold";
this.style.overflow="visible";
this.style.background="#666666";
}
nav2[i].onmouseout=function(){
this.style.fontWeight="normal";
this.style.background="#999999"
this.style.overflow="hidden";
}
}
</script>
</form>
</body>
</html>
