<!DOCTYPE html>
<html>
<head>
<script src="/js/jquery.min.js">
</script>
<script>
$(function(){
	$("#confirm").click(function(){
		$.ajax({url:'/aaa/',
			type:'post',
			data:$("#test").serialize(),
		});
	});
})
</script>
</head>
<body>
<form id='test'>
username: <input type="text" name="username" value="zhangsan">
password:<input type="passwd" name="password" value="123456">
<input type="checkbox" name="chk1" value="1">
<input type="hidden" name="chk1" value="1">
<input type="checkbox" name="chk1" value="2">
<input type="checkbox" name="chk1" value="3">
<input type="checkbox" name="chk1" value="4">
<input type="button" value="提交" id="confirm">
</form>
</body>
</html>
